@import "tailwindcss";

@import "tw-animate-css";

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');

@custom-variant dark (&:is(.dark *));


:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.3366 0.0880 297.7849);
  --card: oklch(0.9731 0.0069 304.2429);
  --card-foreground: oklch(0.3366 0.0880 297.7849);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3366 0.0880 297.7849);
  --primary: oklch(0.3366 0.0880 297.7849);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9315 0.0166 301.2062);
  --secondary-foreground: oklch(0.3366 0.0880 297.7849);
  --muted: oklch(0.3366 0.0880 297.7849);
  --muted-foreground: oklch(0.4668 0.0651 297.6077);
  --accent: oklch(0.7466 0.0895 192.6530);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6134 0.1976 19.6367);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8892 0.0181 300.0358);
  --input: oklch(0.8892 0.0181 300.0358);
  --ring: oklch(0.3366 0.0880 297.7849);
  --chart-1: oklch(0.3366 0.0880 297.7849);
  --chart-2: oklch(0.7466 0.0895 192.6530);
  --chart-3: oklch(0.6134 0.1976 19.6367);
  --chart-4: oklch(0.8871 0.1835 98.7719);
  --chart-5: oklch(0.6240 0.0797 294.3635);
  --sidebar: oklch(0.9731 0.0069 304.2429);
  --sidebar-foreground: oklch(0.3366 0.0880 297.7849);
  --sidebar-primary: oklch(0.3366 0.0880 297.7849);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7466 0.0895 192.6530);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.8892 0.0181 300.0358);
  --sidebar-ring: oklch(0.3366 0.0880 297.7849);
  --font-sans: Inter;
  --font-serif: Lora;
  --font-mono: Space Mono;
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2180 0.0391 296.8410);
  --foreground: oklch(0.9084 0.0081 286.2374);
  --card: oklch(0.2542 0.0506 296.2670);
  --card-foreground: oklch(0.9566 0.0067 286.2732);
  --popover: oklch(0.2180 0.0391 296.8410);
  --popover-foreground: oklch(0.9084 0.0081 286.2374);
  --primary: oklch(0.6240 0.0797 294.3635);
  --primary-foreground: oklch(0.2180 0.0391 296.8410);
  --secondary: oklch(0.3889 0.0825 297.4816);
  --secondary-foreground: oklch(0.9084 0.0081 286.2374);
  --muted: oklch(0.2542 0.0506 296.2670);
  --muted-foreground: oklch(0.6975 0.0383 297.7161);
  --accent: oklch(0.7466 0.0895 192.6530);
  --accent-foreground: oklch(0.2175 0.0270 191.2103);
  --destructive: oklch(0.6134 0.1976 19.6367);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3889 0.0825 297.4816);
  --input: oklch(0.3889 0.0825 297.4816);
  --ring: oklch(0.7466 0.0895 192.6530);
  --chart-1: oklch(0.7466 0.0895 192.6530);
  --chart-2: oklch(0.3366 0.0880 297.7849);
  --chart-3: oklch(0.6134 0.1976 19.6367);
  --chart-4: oklch(0.8871 0.1835 98.7719);
  --chart-5: oklch(0.6240 0.0797 294.3635);
  --sidebar: oklch(0.2542 0.0506 296.2670);
  --sidebar-foreground: oklch(0.9084 0.0081 286.2374);
  --sidebar-primary: oklch(0.6240 0.0797 294.3635);
  --sidebar-primary-foreground: oklch(0.2180 0.0391 296.8410);
  --sidebar-accent: oklch(0.7466 0.0895 192.6530);
  --sidebar-accent-foreground: oklch(0.2175 0.0270 191.2103);
  --sidebar-border: oklch(0.3889 0.0825 297.4816);
  --sidebar-ring: oklch(0.7466 0.0895 192.6530);
  --font-sans: Inter;
  --font-serif: Lora;
  --font-mono: Space Mono;
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Fredoka', sans-serif;
  }

  h1 {
    @apply text-5xl font-bold
  }

  h2 {
    @apply text-4xl font-semibold
  }

  h3 {
    @apply text-2xl font-semibold
  }

  h4 {
    @apply text-xl font-semibold
  }





}